@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-background text-white antialiased;
    overflow-x: hidden;
    max-width: 100vw;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(255, 153, 0, 0.5);
  }
  
  .card-glow {
    box-shadow: 0 0 20px rgba(255, 153, 0, 0.1);
  }
  
  .card-glow-hover {
    box-shadow: 0 0 30px rgba(255, 153, 0, 0.3);
  }
}
